<%-include('include/navbar')%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Articles</h1>
                            <span class="subheading">Articles</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

<div class="container px-4 px-lg-5">
    <!-- <h1 class="mb-4"> blog</h1> -->
    <a href="articles/new" class="btn btn-success">new blog</a>

    <% articles.forEach(article =>{ %>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                 <!-- Post preview-->
                <div class="post-preview">
                    <a href="articles/<%= article.slug%>">
                         <h2 class="post-title"> <%= article.title %></h2>
                    </a>
                            <div class="post-meta">
                                <%= article.createdAt.toLocaleDateString() %>
                            </div>
                            <div class="post-subtitle"><%= article.description %></div>
                            <!-- <a href="articles/<%= article.slug%>" class="btn btn-primary"> Read more</a>
                        <form action="/articles/<%=article.id%>?_method=DELETE" method="post" class="d-inline">
                            <BUtton type="submit" class="btn btn-danger">DELETE</BUtton>
                        </form> -->
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
           
        </div>
        <% }) %>
</div>




<%-include('include/_footer')%>
